.chapterContent {
  flex: 0 1 100%;
  background-color: #d5ebce;
  border-radius: 6px;
}

.chapterTitle {
  margin: 0;
  padding: 0.3em 0.2em;
  font-size: 1.5em;
  font-style: italic;
  background-color: #a9d194;
  border-radius: 6px 6px 0 0;
}

.rule {
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.rule:last-of-type {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}

.rule:hover {
  background-color: #bae0ad;
}

.rule:last-of-type:hover {
  border-radius: 0 0 6px 6px;
}

.ruleHeader {
  margin: 0;
  font-size: 1em;
}

.ruleText {
  margin: 0;
}

.additionalText {
  margin: 0;
  font-style: italic;
  font-size: 0.95em;
  color: rgba(0, 0, 0, 0.8);
}

.additionalText:first-of-type {
  color: yellow;
}
