.tableOfContents {
  position: sticky;
  top: 115px;
  flex: 0 0 15%;
  max-height: 500px;
  overflow-y: scroll;
  background-color: #d5ebce;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

.collectionName {
  font-size: 1.1em;
  background-color: #84bd71;
  margin: 0;
  font-style: italic;
  padding: 0.1em 0.2em;
}

.chapterLink {
  display: block;
  padding: 0.3em 0 0.3em 0.5em;
}

.chapterLink-active {
  background-color: #a9d194;
}

.chapterLink:first-of-type {
  margin-top: 0.3em;
}

.chapterLink:last-of-type {
  margin-bottom: 1em;
}
