.tableOfContents {
  margin-right: 2em;
  flex: 0 0 210px;
  position: sticky;
  top: 115px;
  max-height: 500px;
  background-color: #d5ebce;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  overflow-y: scroll;
}

.collectionName {
  margin: 0;
  padding: 0.1em 0.2em;
  font-style: italic;
  font-size: 1.1em;
  background-color: #84bd71;
}

.chapterLink {
  display: block;
  padding: 0.3em 0 0.3em 0.5em;
}

.chapterLink-active {
  background-color: #a9d194;
}

.chapterLink:first-of-type {
  margin-top: 0.3em;
}

.chapterLink:last-of-type {
  margin-bottom: 1em;
}

@media only screen and (max-width: 767px) {
  .tableOfContents {
    margin-right: 0;
    margin-bottom: 2em;
    flex: 0 0 auto;
    position: initial;
    top: 75px;
    width: 210px;
  }
}
